/* Trifecta.css */

.trifecta-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    margin: 0 auto;
}

.trifecta-tile {
    width: 90px;
    height: 65px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #1a1a2e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.trifecta-clue {
    text-align: center;
    animation: pulse 2s infinite;

}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

@media only screen and (max-width: 500px) {
    .trifecta-clue {
        text-align: left;
    
    }
    
}


.trifecta-tile img {
    width: 100%;
    height: auto;
    pointer-events: none;
}

.selected {
    border: 3px solid #00f0ff;
    box-shadow: 0 0 10px #00f0ff;
}

.submit-button {
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px auto;
    display: block;

}

.result-message {
    margin-top: 15px;
    color: #f0f0f0;
    font-size: 1.2em;
    text-align: center;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.nav-btn {
    background-color: #1e1e2f;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-btn:hover {
    background-color: #5e5eff;
}