.game-page {
    text-align: center;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: linear-gradient(145deg, #0f0f2c, #1e0039);
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    color: #006eff;
}

h2 {
    color:#006eff;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.game-tiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.game-tile {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #4f46e5;
    border-radius: 16px;
    padding: 1rem;
    
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.4);
    transition: transform 0.2s ease;
}

.game-tile:hover {
    transform: scale(1.05);
}

.game-image {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    margin-bottom: 1rem;
}



.play-button {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.play-button:hover {
    background: #7c3aed;
}

.back-button {
    margin-top: 3rem;
    padding: 0.7rem 1.5rem;
    background: #0ea5e9;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
}

.back-button:hover {
    background: #38bdf8;
}